<table class="highlight">
      <ng-container *ngIf="positions$ | async as positions; else loading">
            <thead>
                  <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th></th>
                  </tr>
            </thead>
            <tbody>
                  <ng-container *ngIf="positions.length; else empty">
                        <tr *ngFor="let position of positions">
                              <td>{{ position.name }}</td>
                              <td>{{ position.cost }} $</td>
                              <td>
                                    <div
                                          class="input-field inline order-position-input">
                                          <input
                                                [(ngModel)]="position.quantity"
                                                type="number"
                                                min="0" />
                                    </div>
                              </td>
                              <td>
                                    <button
                                          class="btn waves-effect wavers-light btn-small"
                                          [disabled]="!position.quantity"
                                          (click)="addToOrder(position)"
                                          >Add</button
                                    >
                              </td>
                        </tr>
                  </ng-container>
                  <ng-template #empty>
                        <span class="valign-wrapper">
                              <i class="material-icons">do_not_disturb_alt</i>No
                              positions
                        </span>
                  </ng-template>
            </tbody>
      </ng-container>
      <ng-template #loading>
            <crm-loader></crm-loader>
      </ng-template>
</table>
