<table class="highlight mb2">
      <thead>
            <tr>
                  <th>№</th>
                  <th>date</th>
                  <th>Time</th>
                  <th>Sum</th>
                  <th></th>
            </tr>
      </thead>

      <tbody>
            <tr
                  *ngFor="
                        let historyItem of historyListProps;
                        trackBy: trackById
                  ">
                  <td>{{ historyItem.order }}</td>
                  <td>{{ historyItem.date | date : "dd.MM.YYYY" }}</td>
                  <td>{{ historyItem.date | date : "hh:mm" }}</td>
                  <td>{{ calculateCost(historyItem) }} $</td>
                  <td>
                        <button
                              (click)="triggerModal(historyItem._id || '')"
                              class="btn btn-small grey darken-1">
                              <i class="material-icons">open_in_new</i>
                        </button>
                  </td>
            </tr>
      </tbody>
</table>

<div #modal class="modal modal-fixed-footer">
      <div class="modal-content" *ngIf="historyItem">
            <h4 class="mb1">№{{ historyItem.order }}</h4>
            <table class="highlight">
                  <thead>
                        <tr>
                              <th>Name</th>
                              <th>Quantity</th>
                              <th>Price</th>
                        </tr>
                  </thead>

                  <tbody>
                        <tr>
                              <td>{{ historyItem.user || "no user" }}</td>
                              <td>{{ historyItem.list.length }}</td>
                              <td
                                    >${{
                                          calculateCostOfOrder(
                                                historyItem?.list || []
                                          )
                                    }}</td
                              >
                        </tr>
                  </tbody>
            </table>
            <div class="order-summary">
                  <p>total cost <strong>22 231 руб.</strong></p>
            </div>
      </div>
      <div class="modal-footer">
            <button
                  class="modal-action waves-effect waves-black btn-flat"
                  (click)="closeModal()"
                  >close</button
            >
      </div>
</div>
