<main class="content">
      <div class="page-title">
            <h4>Categories</h4>
            <button
                  class="waves-effect waves-light btn grey darken-1"
                  [routerLink]="routerPathsEnum.NEW"
                  >Add category</button
            >
      </div>

      <div class="row">
            <div class="col s12">
                  <ng-container *ngIf="!isLoading; else loading">
                        <ng-container
                              *ngIf="categoriesList?.length; else noCategories">
                              <div class="collection">
                                    <a
                                          *ngFor="
                                                let category of categoriesList;
                                                trackBy: trackById
                                          "
                                          [href]="category.user"
                                          class="collection-item"
                                          >{{ category.name }}</a
                                    >
                              </div>
                        </ng-container>
                        <ng-template #noCategories>
                              You haven't categories
                        </ng-template>
                  </ng-container>
                  <ng-template #loading>
                        <crm-loader></crm-loader>
                  </ng-template>
            </div>
      </div>
</main>
