<main class="content">
      <div class="page-title">
            {{category|json}}
            <h4>
                  <a [routerLink]="['/',routerPathsEnum.CATEGORIES]"
                        >Categories</a
                  >
                  <i class="material-icons">keyboard_arrow_right</i>
                  {{isNew?'Add':'Update'}} category
            </h4>
            <span>
                  <button class="btn btn-small red">
                        <i class="material-icons">delete</i>
                  </button>
            </span>
      </div>

      <div class="row">
            <form
                  [formGroup]="categoryForm"
                  (ngSubmit)="submitForm()"
                  class="col s12 l6">
                  <div class="input-field">
                        <input
                              #inputEl
                              id="name"
                              type="text"
                              [formControlName]="'name'"
                              [ngClass]="{'invalid':categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched}" />
                        <label for="name">Name</label>
                        <span
                              class="helper-text red-text"
                              *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
                              <span
                                    *ngIf="categoryForm.get('name')?.errors!['required']"
                                    >Required field.</span
                              >
                              <span
                                    *ngIf="categoryForm.get('name')?.errors!['minlength']"
                                    >Too short.</span
                              >
                        </span>
                  </div>

                  <div>
                        <button
                              type="button"
                              [disabled]="categoryForm.invalid ||categoryForm.disabled"
                              class="waves-effect waves-light btn orange lighten-2 mb2">
                              <i class="material-icons left">backup</i>
                              Upload Image
                        </button>
                  </div>

                  <div>
                        <button
                              type="submit"
                              class="waves-effect waves-light btn"
                              [disabled]="categoryForm.invalid">
                              Save Changes
                        </button>
                  </div>
            </form>

            <div class="col s12 l4 center">
                  <ng-container *ngIf="!isNew; else addImage">
                        <ng-container
                              *ngIf="category?.imageSrc||''; else noImage">
                              <img
                                    class="responsive-img"
                                    style="height: 200px"
                                    [src]="category?.imageSrc||''"
                                    alt="image" />
                        </ng-container>
                        <ng-template #noImage>
                              <i class="large material-icons">broken_image</i>
                        </ng-template>
                  </ng-container>
                  <ng-template #addImage>
                        <i class="large material-icons">add_a_photo</i>
                  </ng-template>
            </div>
      </div>

      <crm-positions-form></crm-positions-form>
</main>
