<ul class="sidenav sidenav-fixed a-sidenav">
      <h4>Newborn</h4>
      <li class="bold active"
            ><a href="#" class="waves-effect waves-orange">Review</a></li
      >
      <li class="bold"
            ><a href="#" class="waves-effect waves-orange">Analytics</a></li
      >
      <li class="bold"
            ><a href="#" class="waves-effect waves-orange">Story</a></li
      >
      <li class="bold"
            ><a href="#" class="waves-effect waves-orange">Add order</a></li
      >
      <li class="bold"
            ><a href="#" class="waves-effect waves-orange">Range</a></li
      >
      <li class="bold last"
            ><a href="#" class="waves-effect waves-orange">Exit</a></li
      >
</ul>
<router-outlet></router-outlet>
