<form class="card" [formGroup]="authForm" (ngSubmit)="submitForm()">
      <div class="card-content">
            <span class="card-title">{{ titleProps }}</span>
            <div class="input-field">
                  <input
                        id="email"
                        type="email"
                        [formControlName]="'email'"
                        [ngClass]="{
                              invalid:
                                    authForm.get('email')?.invalid &&
                                    authForm.get('email')?.touched
                        }" />
                  <label for="email">Email:</label>
                  <span
                        class="helper-text red-text"
                        *ngIf="
                              authForm.get('email')?.invalid &&
                              authForm.get('email')?.touched
                        "
                        ><span
                              *ngIf="
                                    (authForm.get('email')?.errors)!['required']
                              "
                              >Email is required</span
                        ><span *ngIf="(authForm.get('email')?.errors)!['email']"
                              >Invalid email</span
                        ></span
                  >
            </div>
            <div class="input-field">
                  <input
                        id="password"
                        type="password"
                        [formControlName]="'password'"
                        [ngClass]="{
                              invalid:
                                    authForm.get('password')?.invalid &&
                                    authForm.get('password')?.touched
                        }" />
                  <label for="password">Password:</label>
                  <span
                        class="helper-text red-text"
                        *ngIf="
                              authForm.get('password')?.invalid &&
                              authForm.get('password')?.touched
                        ">
                        <span
                              *ngIf="
                                    (authForm.get('password')?.errors)![
                                          'minlength'
                                    ]
                              "
                              >Required length {{ requiredPasswordLength }}, but
                              actual is
                              {{
                                    (authForm.get("password")?.errors)![
                                          "minlength"
                                    ].actualLength
                              }}</span
                        ><span
                              *ngIf="
                                    (authForm.get('password')?.errors)![
                                          'required'
                                    ]
                              "
                              >Passport is required</span
                        >
                  </span>
            </div>
      </div>
      <div class="card-action">
            <button
                  class="modal-action btn waves-effect"
                  type="submit"
                  [disabled]="!authForm.valid"
                  >{{ buttonTitleProps }}</button
            >
      </div>
</form>
