<div class="row">
      <div class="col s12">
            <div class="page-subtitle">
                  <h4>Positions:</h4>
                  <button
                        [disabled]="!(positions$ | async)"
                        class="waves-effect waves-light btn grey darken-1 btn-small modal-trigger"
                        data-target="create-modal">
                        Add position
                  </button>
            </div>
            <ng-container *ngIf="!!(positions$ | async); else loader">
                  <ng-container
                        *ngIf="(positions$ | async)?.length; else noPositions">
                        <div class="collection">
                              <a
                                    class="collection-item collection-item-icon"
                                    *ngFor="
                                          let position of positions$ | async;
                                          trackBy: trackById
                                    ">
                                    <span>
                                          {{ position.name }}
                                          <strong>{{ position.cost }} $</strong>
                                    </span>
                                    <span>
                                          <i class="material-icons">delete</i>
                                    </span>
                              </a>
                        </div>
                  </ng-container>
                  <ng-template #noPositions>
                        <span class="valign-wrapper">
                              <i class="material-icons">move_to_inbox</i>
                              No any positions in category
                        </span>
                  </ng-template>
            </ng-container>
      </div>
</div>

<ng-template #loader>
      <crm-loader></crm-loader>
</ng-template>

<div id="create-modal" class="modal">
      <div class="modal-content">
            <h4 class="mb1">Add position</h4>
            <div class="input-field">
                  <input id="pos-name" type="text" required />
                  <label for="pos-name">Name</label>
            </div>
            <div class="input-field">
                  <input id="pos-cost" type="text" required />
                  <label for="pos-cost">Price</label>
            </div>
      </div>
      <div class="modal-footer">
            <a href="#!" class="modal-action waves-effect waves-black btn-flat"
                  >Cancel</a
            >
            <button class="modal-action btn waves-effect">Save</button>
      </div>
</div>
